name: macos_deps

on:
  - push
  - pull_request

jobs:
  build_macos_deps:
    strategy:
      matrix:
        osver: [11.3,12.3]
        xcodever: [16.2]
        with_angle: [no, yes]
        exclude:
          - osver: 11.3
            with_angle: yes
          - osver: 12.3
            with_angle: no
        include:
          - osver: 11.3
            xcodever: 16.2
            with_angle: no
          - osver: 12.3
            xcodever: 16.2
            with_angle: yes
    runs-on: macos-15
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Prepare deps build for macOS ${{matrix.osver}}
        run: |
          echo "REPDIR=$(pwd)" >> $GITHUB_ENV
          echo "INSTALLDIR=/Users/Shared" >> $GITHUB_ENV
          echo "osver=${{matrix.osver}}" >> $GITHUB_ENV
          echo "xcodever=${{matrix.xcodever}}" >> $GITHUB_ENV
          echo "with_angle=${{matrix.with_angle}}" >> $GITHUB_ENV
          brew install nasm m4 autoconf automake libtool

      - name: Download macOS SDK
        run: |
          source sdk.sh
          mkdir $REPDIR/sources
          install_macos_sdk $osver "$xcodever" $REPDIR/sources

      - name: Download/clone sources
        run: |
          source deps.sh
          source angle.sh
          cd $REPDIR/sources
          download_macos_deps
          if [ $with_angle == "yes" ]; then
            clone_macos_angle $REPDIR/data
          fi

      - name: Build deps for arm64
        run: |
          source deps.sh
          mkdir $REPDIR/arm64_deps
          cd $REPDIR/arm64_deps
          untar_macos_deps $REPDIR/sources
          build_macos_deps arm64 $osver "$xcodever" ${INSTALLDIR}/macos${osver}_arm64_deps

      - name: Build ANGLE for arm64
        run: |
          if [ $with_angle == "yes" ]; then
            source angle.sh
            cd $REPDIR/sources
            build_macos_angle arm64 $osver "$xcodever" ${INSTALLDIR}/macos${osver}_arm64_deps $REPDIR/data
          fi

      - name: Build deps for x86_64
        run: |
          source deps.sh
          mkdir $REPDIR/x86_64_deps
          cd $REPDIR/x86_64_deps
          untar_macos_deps $REPDIR/sources
          build_macos_deps x86_64 $osver "$xcodever" ${INSTALLDIR}/macos${osver}_x86_64_deps

      - name: Create archive from arm64 and x86_64 deps
        run: |
          TARDIR=$(pwd)
          cd ${INSTALLDIR}
          tar -czvf ${TARDIR}/macos${osver}_arm64_deps.tar.gz macos${osver}_arm64_deps
          tar -czvf ${TARDIR}/macos${osver}_x86_64_deps.tar.gz macos${osver}_x86_64_deps
          cd ${TARDIR}

      - name: Upload deps for arm64
        uses: actions/upload-artifact@v4
        with:
          name: macos${{matrix.osver}}_arm64_deps
          path: ./macos${{matrix.osver}}_arm64_deps.tar.gz

      - name: Upload deps for x86_64
        uses: actions/upload-artifact@v4
        with:
          name: macos${{matrix.osver}}_x86_64_deps
          path: ./macos${{matrix.osver}}_x86_64_deps.tar.gz

      - name: Upload Release Asset for arm64
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./macos${{matrix.osver}}_arm64_deps.tar.gz
          asset_name: macos${{matrix.osver}}_arm64_deps.tar.gz
          overwrite: true
          tag: latest

      - name: Upload Release Asset for x86_64
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./macos${{matrix.osver}}_x86_64_deps.tar.gz
          asset_name: macos${{matrix.osver}}_x86_64_deps.tar.gz
          overwrite: true
          tag: latest
